body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: Montserrat;
    font-size: 15rem;
    color: blue;

}

h2 {

    font-family: Montserrat;
    font-size: 10rem;
    display: none;
}

.letter {
    transition: 1000ms
}

#hi {
    position: relative;
    top: -175px;
    right: -550px;
}

#mads {
    position: relative;
    right: 100px;
}